<br />
<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-4">Filter</div>
    <div class="col-8">
      <form class="form-inline col-12">
        <input
          class="form-control col-9"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary col-2" type="submit">
          Search
        </button>
      </form>
      <div class="col-12">
        <app-certificate-item [items]="items"></app-certificate-item>
      </div>
    </div>
  </div>
</div>
